#game {
    position: absolute;
    top: 0;
    left:0;
    font-size:10em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
/* 
#game > .circle {
    border-radius: 50%;
    transform-origin: 50% 50%;
} */

circle {
    border-radius: 50%;
    /* transform-origin: 50% 50%; */
}

.moving {
    visibility: hidden;
}

.show {
    visibility: visible;
}