#game {
    position: absolute;
    top: 0;
    left:0;
    font-size:10em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#game-square-container {
    width:100vh;
    height: 100vh;
}
/* 
#game > .circle {
    border-radius: 50%;
    transform-origin: 50% 50%;
} */

circle {
    border-radius: 50%;
    /* transform-origin: 50% 50%; */
}

.moving {
    visibility: hidden;
}

.show {
    visibility: visible;
}

#rules {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    /* background-color: #f9e29c; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "instruction moving"
    "keyboard options"
    ;
    
}
#rules > #instruction {
    grid-area: instruction;
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    line-height: 3rem;;
}
#rules > #keyboard {
    display: flex;
    grid-area: keyboard;
    padding: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}

#keyboard-svg {
    width:65%;   
}

#rules > #moving {
    grid-area: moving;
    padding: 1.5rem;
}

/* #circle-moving-demonstration {
    transform-origin: 50% 50%;
    animation: movingcircle 5s linear infinite;
    animation: pressdisappear 5s linear infinite;
}

#spacebar {
    fill: green;
    animation: press 5s linear infinite
    
}
@keyframes press {
    0% {transform: translateX(0px); fill:green}
    5% {transform: translateX(-5px); fill:greenyellow}
    10%  {transform: translateX(0px); fill:green}
}

@keyframes pressdisappear {
    0% {opacity: 1;}
    5% {opacity: 0;}
    10% {opacity: 1;}
}

@keyframes movingcircle {
    0% { transform: rotate(0deg)}
    100% {transform:rotate(720deg)}
} */

