body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.proza-libre {
    font-family: 'Proza Libre', sans-serif;
}

.sarabun {
    font-family: 'Sarabun', sans-serif;
}

#testControl {
    position: absolute;
    top:40%;
    left: 40%;
}

.hidden {
    position: absolute  !important;
    overflow: hidden  !important;
    width: 0  !important;
    height: 0  !important;
    display: none  !important;
    pointer-events: none  !important;
}