#rule {
    position: absolute;
    top: 0;
    left:0;
    /* font-size:10em; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}


#demon-circle-parent {
    position: absolute;
}

.rule-art {
    position: absolute;
    top:0;
    /* left:0; */
    height: 100vh;
    pointer-events: none;
}

.rule-art object {
    height:100%;
    opacity:0.5
}

#rule-proper .off {
    display: none;
}

#rule-proper {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d"
    ;
    width: 100%;
    height: 100%;
}


#rule-button-group {
    grid-area : d;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
#rule-button-group>button {
    width: 20%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5;
    /* border-radius:0.317rem;
    border-width: 2px;
    border-color:lightgray;
    text-decoration: none;
    outline:none;
    background-color: white; */
}